In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-06-11 16:03:15,-34.5322,20.0403,68.70,29,100,2.68
1,1,Rikitea,PF,2022-06-11 15:59:17,-23.1203,-134.9692,74.64,78,23,15.37
2,2,Punta Arenas,CL,2022-06-11 16:03:15,-53.1500,-70.9167,46.42,81,75,9.22
3,3,Hilo,US,2022-06-11 15:59:02,19.7297,-155.0900,74.28,54,1,2.89
4,4,Mataura,NZ,2022-06-11 16:03:16,-46.1927,168.8643,36.48,91,65,6.58

In [17]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [18]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = ["Lat,Lng"]

In [19]:
# Get the max teperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Get locations
locations = city_data_df[["Lat", "Lng"]]

In [21]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]


# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(
    temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Get the max teperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-06-11 16:03:15,-34.5322,20.0403,68.70,29,100,2.68
1,1,Rikitea,PF,2022-06-11 15:59:17,-23.1203,-134.9692,74.64,78,23,15.37
2,2,Punta Arenas,CL,2022-06-11 16:03:15,-53.1500,-70.9167,46.42,81,75,9.22
3,3,Hilo,US,2022-06-11 15:59:02,19.7297,-155.0900,74.28,54,1,2.89
4,4,Mataura,NZ,2022-06-11 16:03:16,-46.1927,168.8643,36.48,91,65,6.58

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [45]:
# Get locations
locations = city_data_df[["Lat", "Lng"]]

# Get temperatures of locations
max_temp = city_data_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Get locations
locations = city_data_df[["Lat", "Lng"]]

# Get humidity of locations
humidity = city_data_df["Humidity"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Get locations
locations = city_data_df[["Lat", "Lng"]]

# Get clouds of locations
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Get locations
locations = city_data_df[["Lat", "Lng"]]

# Get wind speed of locations
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-06-11 16:03:15,-34.5322,20.0403,68.70,29,100,2.68
1,1,Rikitea,PF,2022-06-11 15:59:17,-23.1203,-134.9692,74.64,78,23,15.37
2,2,Punta Arenas,CL,2022-06-11 16:03:15,-53.1500,-70.9167,46.42,81,75,9.22
3,3,Hilo,US,2022-06-11 15:59:02,19.7297,-155.0900,74.28,54,1,2.89
4,4,Mataura,NZ,2022-06-11 16:03:16,-46.1927,168.8643,36.48,91,65,6.58
...,...,...,...,...,...,...,...,...,...,...
550,550,Nuqui,CO,2022-06-11 16:06:28,5.7125,-77.2708,80.78,79,98,3.71
551,551,Scarborough,GB,2022-06-11 16:06:28,54.2797,-0.4044,66.78,58,36,8.99
552,552,Goianapolis,BR,2022-06-11 16:06:29,-16.5106,-49.0239,70.88,42,97,4.34
553,553,Columbus,US,2022-06-11 16:06:29,39.9612,-82.9988,74.80,63,40,10.36
554,554,Hargeysa,SO,2022-06-11 16:06:29,9.5600,44.0650,83.48,30,60,6.44

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [31]:
# Ask customers what are their desired max and min temperatures
min_temp = float(input("what is the min tempertture you would like to vacation at?"))
   
# min_temp = float(input("min_temp: "))
max_temp = float( input("What is the maximum tempurature you would like to vacation at? "))
# max_temp = float(input("max_temp: "))

what is the min tempertture you would like to vacation at?75
What is the maximum tempurature you would like to vacation at? 95

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Dwarka,IN,2022-06-11 16:03:16,22.2394,68.9678,84.87,74,95,14.47
7,7,Ponta Do Sol,PT,2022-06-11 16:03:17,32.6667,-17.1000,80.71,71,0,1.01
10,10,Neiafu,TO,2022-06-11 16:03:18,-18.6500,-173.9833,77.68,94,75,6.91
11,11,Cockburn Town,TC,2022-06-11 16:03:18,21.4612,-71.1419,84.16,65,40,18.41
15,15,Vermilion,US,2022-06-11 16:03:19,40.1667,-87.7506,78.62,71,75,9.22
16,16,Paka,MY,2022-06-11 16:03:19,4.6374,103.4368,78.42,85,98,3.33
18,18,Butaritari,KI,2022-06-11 16:03:20,3.0707,172.7902,81.32,76,17,11.68
27,27,Puerto Ayora,EC,2022-06-11 16:03:25,-0.7393,-90.3518,75.16,91,74,7.00
31,31,Kahului,US,2022-06-11 16:02:37,20.8947,-156.4700,75.85,87,1,3.00
33,33,Eyl,SO,2022-06-11 16:03:27,7.9803,49.8164,79.83,77,100,26.46

In [33]:
preferred_cities_df.count()

City_ID       197
City          197
Country       196
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
# Create Hotel DF to add in hotels to preferred cities DF
hotel_df = preferred_cities_df[[
    "City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5          Dwarka      IN     84.87  22.2394   68.9678
7    Ponta Do Sol      PT     80.71  32.6667  -17.1000
10         Neiafu      TO     77.68 -18.6500 -173.9833
11  Cockburn Town      TC     84.16  21.4612  -71.1419
15      Vermilion      US     78.62  40.1667  -87.7506
16           Paka      MY     78.42   4.6374  103.4368
18     Butaritari      KI     81.32   3.0707  172.7902
27   Puerto Ayora      EC     75.16  -0.7393  -90.3518
31        Kahului      US     75.85  20.8947 -156.4700
33            Eyl      SO     79.83   7.9803   49.8164

In [36]:
# Set parameters to search for hotels in each location
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"

    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()

    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels[0]["results"][0]["name"]

    except (IndexError):
        print("No hotel found...skipping.")

KeyError: 0

In [38]:
hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
5           Dwarka      IN     84.87  22.2394   68.9678
7     Ponta Do Sol      PT     80.71  32.6667  -17.1000
10          Neiafu      TO     77.68 -18.6500 -173.9833
11   Cockburn Town      TC     84.16  21.4612  -71.1419
15       Vermilion      US     78.62  40.1667  -87.7506
..             ...     ...       ...      ...       ...        ...
544        Veraval      IN     83.25  20.9000   70.3667
547     Abu Samrah      SY     89.98  35.3029   37.1841
549         Marzuq      YE     86.49  14.4000   46.4667
550          Nuqui      CO     80.78   5.7125  -77.2708
554       Hargeysa      SO     83.48   9.5600   44.0650

[197 rows x 6 columns]

In [39]:

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [41]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'html_attributions': [],
 'next_page_token': 'Aap_uEAKLd4y-SIXqHSXkn0A_qjQwtxQ4hOR93BqlaWFL8G4wAk56FrcPMF_NwuWyMw2Z60meG3wrlRyGxKiA5C3xSjGKiZNcx4aNznCtGMhiQiGU1aBRufaGDe1BPsJt2bBXcv4l0jy4jK-wgUm3Fxg2C2BSG76ERIw_cIchMjNCxeQUytn0AAzVLehyGOgGaBogCDlY8x44hZt1q2_f7PfOSn4wbK1NQPIFfTgVaW8W6epNRjtHR5FlWyQD_zy-epJ0UjJDcCFoDDahShKBfkqB5HF2UXDGln1O8ceqAifJLRsNU9kE-IbOngelhWtxc9JG8zcqNfYYdlMIrO2s-bx6AtaM_qlEHheyUoi-iX6hH31dcDBGUdAymtaxJaq131zk2OeOBXuAUgvX_bWoJ6wJEOed4CaYC32QAw_S7GlBlYkwuKi-WUYy3Rw',
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8581126, 'lng': 2.3529277},
    'viewport': {'northeast': {'lat': 48.8594360302915,
      'lng': 2.354355480291502},
     'southwest': {'lat': 48.8567380697085, 'lng': 2.351657519708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Duo',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3840,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107554201425443337224">Hôtel Duo</a>'],
     'photo_reference': 'Aap_uEBnnC1V7Kh0QlYeYh2qXUYvDrCQw6DQdbR4bRhyDfRxRU_Jcz1bhK6ZSOLJ6OJM21qInCMfZkq25AMyEL9STmOA7Dv6CTCcEI7eY_KcMLUXi2YjP4ldRBipo_OrxQMa7uB1B-77-r9cbGLLOahqQRVQdmKqXueSOUF5qc1do-rvaW4l',
     'width': 5760}],
   'place_id': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'plus_code': {'compound_code': 'V953+65 Paris, France',
    'global_code': '8FW4V953+65'},
   'rating': 4.2,
   'reference': 'ChIJWU9CqB1u5kcR5P1F2SMoJmc',
   'scope': 'GOOGLE',
   'types': ['gym',
    'night_club',
    'spa',
    'bar',
    'health',
    'lodging',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 329,
   'vicinity': '11 Rue du Temple, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8582861, 'lng': 2.3464944},
    'viewport': {'northeast': {'lat': 48.85954748029151,
      'lng': 2.347782830291502},
     'southwest': {'lat': 48.85684951970851, 'lng': 2.345084869708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Britannique Hotel - Paris Centre',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1426,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108984000175492464929">Hôtel Britannique - Paris Centre</a>'],
     'photo_reference': 'Aap_uEDoYnML_Z5PX_eOcK1SWah0czwCQNZP89ZV70vTdvw0tqkGYwOIJGGWnU7LT-dlz4JMGL7OPel6jLcZGDjLqrrNkkC9ldWPohbcmH9jKHsNuC-kJOFT2ndzcJm_MGZZU2zdPkzeWNAw_Smpu6q0g26ctxWRqp7bp2EWnjmkHIchtWQu',
     'width': 1476}],
   'place_id': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'plus_code': {'compound_code': 'V85W+8H Paris, France',
    'global_code': '8FW4V85W+8H'},
   'rating': 4.7,
   'reference': 'ChIJ-4Siox9u5kcRm9vM6DcMXyU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 745,
   'vicinity': '20 Avenue Victoria, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8606655, 'lng': 2.3469293},
    'viewport': {'northeast': {'lat': 48.8617746302915,
      'lng': 2.347927730291502},
     'southwest': {'lat': 48.8590766697085, 'lng': 2.345229769708499}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Citadines Les Halles Paris',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4624,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100264408579144380248">Pablo M</a>'],
     'photo_reference': 'Aap_uEDEiSTqkCgKWVymJjZZncEMBrn-bui9yVhKIOyVU85SksIJgCtWcXorOqnWnncB_QjZ4oPFWrF4nC9eZBnn5ah7lWftvUSV47y0liBBuqRkzu54WzBQBMNYNVKyuRUlHHAo_u-RFNoS2sl5m5zrbJGrVC7GoQsYefHdPZ8e_veOMwip',
     'width': 3472}],
   'place_id': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'plus_code': {'compound_code': 'V86W+7Q Paris, France',
    'global_code': '8FW4V86W+7Q'},
   'rating': 4.1,
   'reference': 'ChIJQ_QDrxhu5kcRJzNxLLEOSfU',
   'scope': 'GOOGLE',
   'types': ['city_hall',
    'local_government_office',
    'lodging',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 911,
   'vicinity': '4 Rue des Innocents, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8607658, 'lng': 2.3465318},
    'viewport': {'northeast': {'lat': 48.8620584302915,
      'lng': 2.347692880291501},
     'southwest': {'lat': 48.85936046970851, 'lng': 2.344994919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Novotel Paris Les Halles',
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111815616573299411056">Novotel Paris Les Halles</a>'],
     'photo_reference': 'Aap_uEDVvQ3udtsNnuovQWra5tf91JBgErF3v8ORSC8dZh-LMt9edwgPI2h5cSKdnoM-naFQpG_Jam1mx_qgKJfyb_xXXeskqnRPJnO6a3kUNTR7kojHhBqZuEeRRZQohCoPJ_DO3UNc2FFrOl7ldm4_XfrJUlVPHtL3iVqNMqnbBe5L8l_T',
     'width': 3000}],
   'place_id': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'plus_code': {'compound_code': 'V86W+8J Paris, France',
    'global_code': '8FW4V86W+8J'},
   'rating': 4.4,
   'reference': 'ChIJGW2pNx9u5kcRI3oyL8NG5BQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2499,
   'vicinity': '8 Place Marguerite de Navarre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.860352, 'lng': 2.3440948},
    'viewport': {'northeast': {'lat': 48.86165553029149,
      'lng': 2.345549080291502},
     'southwest': {'lat': 48.8589575697085, 'lng': 2.342851119708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Ducs de Bourgogne',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1390,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101411638353598558320">Hôtel Ducs de Bourgogne</a>'],
     'photo_reference': 'Aap_uEAwdt4YIiVo7luRuxRhp3Qn1X7b6k_j609znlUYjFs3-XSjxH7ybscNtMYytVv8wwlPwNB7VQK3utfUFRwqiWvV_2HfS7w7L9mx9HJvh_VABWWXjRGU11byFs_AAcwBqpvFZS4ecIy5oY5SZgzQ1xq95vAwpUQ2kC8FvBFMpyu5Ey58',
     'width': 2048}],
   'place_id': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'plus_code': {'compound_code': 'V86V+4J Paris, France',
    'global_code': '8FW4V86V+4J'},
   'rating': 4.5,
   'reference': 'ChIJifTG5yFu5kcRdnisbwxnAx4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 300,
   'vicinity': '19 Rue du Pont Neuf, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8555091, 'lng': 2.3408736},
    'viewport': {'northeast': {'lat': 48.8569076302915,
      'lng': 2.342319280291502},
     'southwest': {'lat': 48.8542096697085, 'lng': 2.339621319708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Citadines Saint-Germain-des-Prés Paris (Apart hotel Paris)',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4480,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113188832595116816387">Citadines Saint-Germain-des-Prés Paris (Apart Hotel Paris)</a>'],
     'photo_reference': 'Aap_uECzbw0pWgClBDFWQQaqUj3ii5cOYpSwA-pj0x7YsV_fK_jSPvTN_WNljo4ER6pNltVTwMDhrO9G9SRFcKM3DwGMBhSqpRU3j9eL8dcTIn3tqWvAXN3A6pHQpJH0orTrH6-WnubMuEs3EWBiyia75TDuil2kUmxa5l93w9aR2yKYeHV1',
     'width': 6720}],
   'place_id': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'plus_code': {'compound_code': 'V84R+68 Paris, France',
    'global_code': '8FW4V84R+68'},
   'rating': 4.3,
   'reference': 'ChIJo5pYcN9x5kcRERXdocMgqmE',
   'scope': 'GOOGLE',
   'types': ['city_hall',
    'local_government_office',
    'lodging',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 742,
   'vicinity': '53 ter Quai des Grands Augustins, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8524547, 'lng': 2.3472064},
    'viewport': {'northeast': {'lat': 48.8538838802915,
      'lng': 2.348601530291502},
     'southwest': {'lat': 48.8511859197085, 'lng': 2.345903569708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Esmeralda',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106443224837840180239">Fraz A. Khan</a>'],
     'photo_reference': 'Aap_uEBavMEIrNUl-MbmE46ZS_KYHIpHBPguP1SMN5w57CyRfBbB6Gj7jEKg3GBqjhAxRg-l7Y-bBN40O0ps2-h7P8hZg0rxI2-DWxGA26XLMmRXJDrd3kW91XDNGc_IndbjcMMl46c8WhojocsALh18V_NFj_Ath6VKqMNdaR73CdcEZaft',
     'width': 4032}],
   'place_id': 'ChIJO_g_H-Fx5kcRmaabUHA3dT4',
   'plus_code': {'compound_code': 'V82W+XV Paris, France',
    'global_code': '8FW4V82W+XV'},
   'rating': 4.1,
   'reference': 'ChIJO_g_H-Fx5kcRmaabUHA3dT4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 167,
   'vicinity': '4 Rue Saint-Julien le Pauvre, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8530901, 'lng': 2.3447174},
    'viewport': {'northeast': {'lat': 48.8544535802915,
      'lng': 2.345997680291501},
     'southwest': {'lat': 48.85175561970851, 'lng': 2.343299719708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Albe Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1152,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117571951379278191466">Albe Hotel Saint Michel</a>'],
     'photo_reference': 'Aap_uEC3oXlXegjI-tP2NWpxwBdn1OgZTNJwcDF6JcTtCWwWvuKHdUh4gOBAzZIpmDKLEacX4TsCEmWaUKGwrjAV9UWmfR7e5bLzdjOR3sxhw9uEWSb962AXMsChyrdo-uiDIUwPvvMLIFnioIF75eC9_cvYKhgOk9tIf_f_TxoDxqqCJWC7',
     'width': 1600}],
   'place_id': 'ChIJ8R5-hOBx5kcRsCOdfj8GLeY',
   'plus_code': {'compound_code': 'V83V+6V Paris, France',
    'global_code': '8FW4V83V+6V'},
   'rating': 4.4,
   'reference': 'ChIJ8R5-hOBx5kcRsCOdfj8GLeY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 367,
   'vicinity': '1 Rue de la Harpe, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8532403, 'lng': 2.3457375},
    'viewport': {'northeast': {'lat': 48.85462748029149,
      'lng': 2.347175730291502},
     'southwest': {'lat': 48.8519295197085, 'lng': 2.344477769708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Les Rives de Notre-Dame Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116242575283063930652">Michael Scholz</a>'],
     'photo_reference': 'Aap_uEBbbx_xsVVpRrR1MZ_x8objm_JAIRb-dzyM5KJX8hP9v0zx9u0IgWjczRwG7Q3g2rJB2O2d8VIxH0_ZQm8nmHVJpWLgwkWjClBb7CYE17NSO16Brxc5R5G6xsnF5chiZoub8VBQM0Qk7fKBMRNE0WcHLCI0isPzdB23c3XNOnp9MYEO',
     'width': 6048}],
   'place_id': 'ChIJl7vs8-Bx5kcRfIQzq_4_XmU',
   'plus_code': {'compound_code': 'V83W+77 Paris, France',
    'global_code': '8FW4V83W+77'},
   'rating': 4.5,
   'reference': 'ChIJl7vs8-Bx5kcRfIQzq_4_XmU',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 98,
   'vicinity': '15 Quai Saint-Michel, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.85184049999999, 'lng': 2.3448082},
    'viewport': {'northeast': {'lat': 48.8531470802915,
      'lng': 2.346121880291502},
     'southwest': {'lat': 48.8504491197085, 'lng': 2.343423919708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel 4 étoiles Parc Saint-Séverin Paris 5ème - Esprit de France',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2362,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107542132357877294567">Hôtel 4 étoiles Parc Saint Séverin Paris 5ème - Esprit de France</a>'],
     'photo_reference': 'Aap_uEC26WuX29kdqNmMzRMqEeIyHVtBCSG5tjYt7xhf9yeFKHjw0bvJGrKxH64Dc9Bzk4b8evk4DSPagTN6Ps-vXv_GxpuB-pc8HVje-mGTYPTfkjBCBPZ5p3I813PlWt9gThfQ09vZ77MaV_uReRq1yh5sY8FKadsVkZcge6_W9QlQg3tS',
     'width': 3776}],
   'place_id': 'ChIJ9--kuuBx5kcRojwQ1yEK2cY',
   'plus_code': {'compound_code': 'V82V+PW Paris, France',
    'global_code': '8FW4V82V+PW'},
   'rating': 4.6,
   'reference': 'ChIJ9--kuuBx5kcRojwQ1yEK2cY',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 180,
   'vicinity': '22 Rue de la Parcheminerie, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8518743, 'lng': 2.3463436},
    'viewport': {'northeast': {'lat': 48.8532481802915,
      'lng': 2.347596830291502},
     'southwest': {'lat': 48.8505502197085, 'lng': 2.344898869708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hotel Henri IV Rive Gauche',
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110759590658386679133">François TAPIEZO ART</a>'],
     'photo_reference': 'Aap_uEDCJDIHWatpPTzvP8UUmbzJWZSLs__BfWCtT34mBDk_v74NS0nkpLn9HJawIBfRzHnJ3ZAbSunY54K9sDfzKCRhtykYSt0gce1yDoQahalD_atnTh3ZO6KjzcusuY1Nh2XAtpD8O7rgwNIKc5JMwpvS9tQ1YRCB18AO0G6BbtFBOPnx',
     'width': 4032}],
   'place_id': 'ChIJ2a4f2-Bx5kcR40Wl3uv_53Y',
   'plus_code': {'compound_code': 'V82W+PG Paris, France',
    'global_code': '8FW4V82W+PG'},
   'rating': 4.5,
   'reference': 'ChIJ2a4f2-Bx5kcR40Wl3uv_53Y',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 158,
   'vicinity': 'Rue Saint-Jacques, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8600866, 'lng': 2.3533543},
    'viewport': {'northeast': {'lat': 48.86148808029149,
      'lng': 2.354740780291502},
     'southwest': {'lat': 48.85879011970849, 'lng': 2.352042819708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hôtel Beaubourg',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3744,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115421447635584539926">Hôtel Beaubourg</a>'],
     'photo_reference': 'Aap_uEAgrLjEiRtiH_i3gx3UU7DHOP2fH5icCdnG0Uo05VQDjp7ZnzUV6-EVeDSA-SgzG1-LCfwx-3CkguedT_kgFdVhn3OdQdN1_N-hV2EFYfQynZgoaQS757_RedXzc6mfNHeLlzLuV1_kHjfF-yg8liUefa3uaCkAV_UeTWtirRMrB7lF',
     'width': 5616}],
   'place_id': 'ChIJCdHKjhxu5kcR0YtyGr7Vftc',
   'plus_code': {'compound_code': 'V963+28 Paris, France',
    'global_code': '8FW4V963+28'},
   'rating': 4.2,
   'reference': 'ChIJCdHKjhxu5kcR0YtyGr7Vftc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 154,
   'vicinity': '11 Rue Simon le Franc, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.859876, 'lng': 2.347049},
    'viewport': {'northeast': {'lat': 48.86117138029149,
      'lng': 2.348348980291501},
     'southwest': {'lat': 48.8584734197085, 'lng': 2.345651019708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': "Hôtel Des Ducs D'Anjou",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1400,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115209143941459061727">Hotel Des Ducs D&#39;Anjou</a>'],
     'photo_reference': 'Aap_uECsODyULTbf9x-cCGRtoh0xZ5XhssG_4CY0mILt5hyr83u1QAOtn04mgnpl7txCLveRTEw5YNGuN1w-4Kja0mfoi_pUEgXjOTpKJzVzwh4p0oBqvEdYL5KAIAW5BQfT524qf8bqyBPDk7avOmH52Lw4eRSw-0wIXpL9BBk2iRjGn8Rl',
     'width': 1352}],
   'place_id': 'ChIJ9ekWGR9u5kcRsS8j5TnWeSE',
   'plus_code': {'compound_code': 'V85W+XR Paris, France',
    'global_code': '8FW4V85W+XR'},
   'rating': 3.9,
   'reference': 'ChIJ9ekWGR9u5kcRsS8j5TnWeSE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 324,
   'vicinity': '1 Rue Sainte-Opportune, Paris'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8515237, 'lng': 2.3486679},
    'viewport': {'northeast': {'lat': 48.8529256302915,
      'lng': 2.349962130291502},
     'southwest': {'lat': 48.8502276697085, 'lng': 2.347264169708498}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Hotel Maison Colbert Member of Meliá Collection',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3656,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102194778927204133336">Hotel Maison Colbert Member of Meliá Collection</a>'],
     'photo_reference': 'Aap_uECuOFElNb5gdw7pAkp7O52fXO0fpmG1JPDvOpnDpT0ZlhHIS1ZUtBAvVdcjISCd2ZuZaDgVD1OQLR5DEDa9Vq9o6HquFpeJYs3nQ6Zb2_ZobhnakpoM9aDErvRXQEcwIgm_xsKb0WL7IQPsXk-AlrhZ6txOCTqV0lJlKSsIsInuqqZv',
     'width': 3543}],
   'place_id': 'ChIJI3vbSOFx5kcR84E4IeL2LqI',
   'plus_code': {'compound_code': 'V82X+JF Paris, France',
    'global_code': '8FW4V82X+JF'},
   'rating': 4.2,
   'reference': 'ChIJI3vbSOFx5kcR84E4IeL2LqI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 10,
   'vicinity': "7 Rue de l'Hôtel Colbert, Paris"},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 48.8499446, 'lng': 2.346247699999999},
    'viewport': {'northeast': {'lat': 48.8513264802915,
      'lng': 2.347622530291501},
     'southwest': {'lat': 48.8486285197085, 'lng': 2.344924569708497}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'icon_background_color': '#909CE1',
   'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
   'name': 'Home Latin',
   'photos': [{'height': 606,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105830788751825835396">Peter Sheehan</a>'],

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
     try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
  except (IndexError):
    print("Hotel not found... skipping.")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 17)

In [43]:
# Grab the first hotel from the results and store the name.

IndentationError: unexpected indent (1383625399.py, line 2)