## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/weatherpy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,San Luis,AR,48.42,clear sky,-33.2950,-66.3356,Huarpes Hotel
1,1,Bereda,ES,94.53,scattered clouds,43.2686,-7.5406,Pazo de Verdes
2,2,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Sinnamary,GF,81.39,few clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
4,4,Cape Town,ZA,63.37,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
5,5,Guerrero Negro,MX,60.26,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
6,6,Zyryanovsk,KZ,65.25,overcast clouds,49.7386,84.2719,Гостиница «ЭВЕРЕСТ»
7,7,Rikitea,PF,72.55,broken clouds,-23.1203,-134.9692,People ThankYou
8,8,Souillac,MU,73.78,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
9,9,Bethel,US,73.60,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [5]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Pierre']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Pierre']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Billings']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Elk River'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Washington']

In [8]:
vacation_start
start = vacation_start["Lat"].to_numpy()[0]
print(start)

44.3683

In [9]:

# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [10]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

In [13]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,93,Pierre,US,54.52,clear sky,44.3683,-100.3510,Ramkota Hotel
1,244,Billings,US,56.97,broken clouds,45.7833,-108.5007,Best Western Plus Clocktower Inn
2,133,Elk River,US,71.94,overcast clouds,45.3038,-93.5672,Wyndham Garden Otsego-Minneapolis
3,131,Washington,US,46.80,overcast clouds,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [15]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display thee figure
fig

Figure(layout=FigureLayout(height='420px'))